<template>
  <button @click="count++">Compteur {{ count }}</button>
</template>

<script>
export default {
  // name: permet de définir le nom du composant, il est optionnel
  // Si le nom n'est pas défini, le nom du composant sera le nom du fichier
  // Surtout utile pour le débogage, cela peut faciliter le repérage des composants.
  name: 'BoutonCompteur',
  data() {
    return {
      count: 0
    }
  }
}
</script>

<style scoped>
/* scoped => css utilisé seulement pour ce composant */
button {
  padding: 10px;
  border: 1px solid rgb(36, 94, 25);
  border-radius: 5px;
  background-color: rgb(46, 164, 54);
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}
</style>
