<template class="container1">
  <input v-model="searchTerm" type="text" placeholder="Recherche..." />
  <div class="container-vue">
    <div v-for="(items, index) in filteredProduits" :key="index">
      <div v-if="filteredProduits.length" class="item-vue">
        <ul>
          <li>
            {{ items }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      produits: ["cacao", "banane", "pain", "orange", "café", "farine", 15],
      searchTerm: "",
    };
  },
  computed: {
    filteredProduits() {
      return this.produits.filter( item => {
        return item.toString().match(this.searchTerm);
      });
    },
  },
};
</script>

<style>
.container1 {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  margin: 0;
}

.container1 input {
  border: none;
  border-bottom: 1px solid #4fc08d;
  background-color: transparent;
  color: #4fc08d;
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
}

.container1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container1 li {
  margin: 0.5rem 0;
}
.container-vue {
  margin-top: 1em;
  border: 1px solid #4fc08d;
  padding: 0.5rem;
}
</style>
