<template>
  <form v-on:submit.prevent="submitForm">
    <label for="name">Nom: </label>
    <input name="name" type="text" v-model="name" />
    <button type="submit">Soumettre</button>
  </form>
</template>

<script>
export default {
data() {
  return {
    name: "",
  }
},
  methods: {
    submitForm() {
      console.log('Form submitted!')
    },
  }
}
</script>

<style scoped>
form {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around
}
label {
  margin-bottom: 10px;
}
input {
  margin-bottom: 10px;
  background:#bada55; 
  padding: 10px 20px;
}
button {
  background: #bada55;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
</style>
