
:root {
  --vp-custom-block-font-size: 1.1rem;
  --vp-custom-block-code-font-size: 1.1rem;

  --vp-c-brand: #2563EB;
  --vp-c-brand-light: #3B82F6;
  --vp-c-brand-lighter: #93C5FD;
  --vp-c-brand-dark: #1D4ED8;
  --vp-c-brand-darker: #1E40AF;
  --vp-code-line-highlight-color: rgba(193, 151, 27, 0.51)
}

.main{
  font-size: 1.1rem;
}

.medium-zoom-overlay {
  z-index: 20;
}

.medium-zoom-image {
  z-index: 21;
}

/* shadow img */
img {
  box-shadow: 5px 5px 8px 3px rgba(0, 0, 0, 0.2);
}

.vp-doc :not(pre) > code {
  color: #000;
  /* background-color: #292b30; */
  padding: 5px 3px;
  font-size: 1.1rem;
}


/* main content */
@media (min-width: 960px) {
  .content[data-v-343c73d6] {
  padding: 0 ;
  }
}

body {
  font-family: arial, sans-serif;
}

.main{ 
  font-size: 1.3rem;
  line-height: 1.8;
  /* color: #15141A; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* dark mode code */
.dark code{
  color: #fff !important;
}

.vp-doc p {
  line-height: 33px;
}

/* main */
@media (min-width: 1440px) {
  .VPContent.has-sidebar {
      padding-right: 32px !important;
      padding-left: var(--vp-sidebar-width) !important;
  }
}

.VPDoc.has-aside .content-container {
  max-width: fit-content !important;
}


/* sidebar gauche */
@media (min-width: 1440px) {
  aside.VPSidebar {
      padding-left: 32px !important;
      width: 272px !important;
  }
}

/* titre */
@media (min-width: 1440px) {
  .VPNavBar.has-sidebar div.container div.title {
      padding-left: 32px !important;
      width: calc((100% - (var(--vp-layout-max-width) - 64px)) / 2 + var(--vp-sidebar-width) - 32px);
      background-color: var(--vp-nav-bg-color);
  }
  .VPNavBar.has-sidebar div.container div.title .title {
      border: 0 !important;
  }
}

/* Dégradé en haut */
.VPNavBar.has-sidebar .curtain[data-v-84a11e99] {
  width: 100%;
  padding-left: var(--vp-sidebar-width);
}

/* Titre page accueil */
@media (min-width: 640px) {
  .main .name,
    .main .text {
      max-width: 70%;
  }
}

/* Tableau */
.vp-doc td {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}


/* Backgound color code */
.vp-code-light {
  display: none;
}

html:not(.dark) .vp-code-dark {
  display: block;
}

.vp-doc div[class*="language-"]{
  background-color: #292b30;
}

.vp-code-group .tabs{
  background-color: #292b30;
}

.vp-code-group .tabs label, .vp-code-group input:checked + label{
  color: #fff;
  font-size: 0.8em;
}


/* positionnement image */
img {
  display: inline-block;
}

/* h2 */
.vp-doc h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding: 8px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
  background-color: beige;
}

.dark .vp-doc h2 {
  background-color: rgba(245, 245, 220, 0.16);
}

/* h3 */
.vp-doc h3 {
  margin: 32px 0 16px;
  padding: 8px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 20px;
  background-color: #e3f5dc;
}

/*.vp-doc h3::before {
  content: "🡪";
  margin-right: 8px;
  display: inline-block;
}*/

.dark .vp-doc h3 {
  background-color: rgba(245, 245, 220, 0.16);
}

/* liste */
.vp-doc li + li {
  margin-top: 0px;
}

.vp-doc ul ul{
  list-style: circle;
}

.vp-doc .custom-block p {
  line-height: 28px;
}